.testimaonials_card {
  width: 350px;
  min-height: 55vh;
  height: auto;
  border-radius: 1rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 300ms linear;
  .testimonials_card_para_div {
    width: 100%;
    height: auto;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
    p {
      font-size: 1.5rem;
      text-align: justify;
      font-weight: 300;
      text-align: center;
    }
    //   .center{
    // }
  }
  .info {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    .name {
      font-size: 2.4rem;
      text-align: center;
      text-transform: capitalize;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 70%;
        left: 15%;
        height: 1px;
        background-color: goldenrod;
        bottom: 0rem;
      }
    }
    .profession {
      font-size: 1.6rem;
      text-align: center;
      text-transform: capitalize;
      color: gray;
    }
  }
}

@media screen and (max-width: 480px) {
  .testimaonials_card {
    width: 100%;
    min-height: 50vh;
    height: auto;
    justify-content: space-evenly;
    .testimonials_card_para_div {
      p {
        font-size: 2rem;
      }
    }
    .info {
      .name {
        font-size: 4rem;
      }
      .profession {
        font-size: 2.3rem;
      }
    }
  }
  .side_text {
    position: static;
    transform: rotate(0deg);
    width: 100%;
    h3 {
      font-size: 5rem;
      text-align: center;
      margin-top: 5rem;
    }
  }
}
