.testimonial {
  width: 100%;
  height: auto;
  margin: 10rem auto;
  position: relative;
  // border: 1px solid red;
  .slides {
    transform: scale(0.5);
    transition: transform 600ms linear;
    background-color: black;
    padding: 1rem 0;
    height: 50vh;
  }
  .activeSlides {
    transform: scale(1);
    transition: transform 600ms linear;
    height: auto;
  }
  div {
    z-index: 2;
    ul li button {
      margin-top: 10rem;
      display: none;
      &:before {
        font-size: 12px;
        color: white;
        position: absolute;
        box-shadow: 0px 0px 1px white;
        border-radius: 50%;
        top: 10rem;
      }
    }
    li.slick-active button::before {
      color: white;
    }
    .slick-list {
      overflow: hidden;
    }
    button {
      z-index: 1;
    }
  }
  .side_text {
    position: absolute;
    transform: rotate(90deg);
    right: -37.5%;
    top: 41%;
    &::before {
      position: absolute;
      content: "";
      width: 92%;
      height: 1px;
      background-color: white;
      left: 4%;
      bottom: 0.7rem;
      box-shadow: 1px 2px 10px white;
      animation: blinks 3.5s ease-in infinite alternate;
    }
    h3 {
      font-size: 8rem;
      text-transform: uppercase;
      color: goldenrod;
    }
  }
  .leftArrow {
    left: 40rem;
  }
  .rightArrow {
    right: 40rem;
  }
}

@media screen and (max-width: 1082px) {
  .testimonial {
    .slider {
      width: 60%;
      margin: 0 auto;
      div {
        width: 99%;
        margin: 0 auto;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .testimonial {
    .slider {
      width: 80%;
      div {
        width: 100%;
        margin: 0 auto;
      }
    }
    .side_text {
      position: static;
      transform: rotate(0deg);
      margin-bottom: 5rem;
      width: 100%;
      h3 {
        font-size: 5rem;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .testimonial {
    margin-bottom: 20rem;
    width: 85%;
    // border: 1px solid red;
    .slider {
      width: 95%;
    }
    div {
      ul li button {
        display: inline-block;
      }
    }
    .side_text {
      margin: 10rem 0;
      &::before {
        width: 84%;
        left: 8%;
        bottom: 0.2rem;
      }
    }
  }
}
