.hotels_collabs {
  width: 100%;
  height: auto;
  .hotels_collabs_wrapper {
    width: 80%;
    height: calc(100vh - 8rem);
    margin: 0 auto;
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
        text-align: center;
        font-size: 4rem;
        text-transform: capitalize;
        // font-family: "Shoreline";
        color: goldenrod;
        font-family: cursive;
    }
  }
}
