.btn {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.btn span {
    position: absolute;
    /* width: 40px; */
    height: 4px;
    background-color: goldenrod;
    transition: 1s;
    border-radius: 10px;
}

.btn11{
    transform: translateY(-15px);
    width: 25px;
    left: 15px;
}

.btn22{
    transform: translateY(15px);
    width: 15px;
    left: 15px;
}


.btn3{
    width: 40px;
    transform: translateX(14rem);
    transition: 200ms;
    display: none;
}
.btn1{
    width: 40px;
    transform: rotate(45deg);
    transition: 200ms;
}
.btn2{
   width: 40px;
   transform: rotate(-45deg);
   transition: 200ms
}
.btn33{
    width: 40px;
    /* transform: translateX(70px);
    transition: 200ms; */
}