.header{
    top: 0;
    width: 100%;
    height:8rem;
    background-color: black;
    .ham_div{
        width: 5rem;
        height: 5rem;
        z-index: 111;
        position: fixed;
        top: 2rem;
        left: 3.5rem;
    }
}

@media screen and (max-width:480px){
    .header{
        .ham_div{
            left: 1rem;
        }
    }
}