.values_container {
  width: 100%;
  height: auto;
  margin: 0rem auto;
  position: relative;
  padding: 5rem 0;
  // border: 1px solid red;
  .slides {
    transform: scale(0.5) ;
    transition: transform 600ms linear;
    background-color: black;
  }
  .activeSlides {
    transform: scale(1);
    transition: transform 600ms linear;
  }
  div {
    z-index: 2;
    ul li button {
      margin-top: 10rem;
      display: none;
      &:before {
        font-size: 12px;
        color: white;
        position: absolute;
        box-shadow: 0px 0px 1px white;
        border-radius: 50%;
        top: 10rem;
      }
    }
    li.slick-active button::before {
      color: white;
    }
    .slick-list {
      overflow: hidden;
    }
    button {
      z-index: 1;
    }
  }
}

@media screen and (max-width:1000px) {
    .values_container{
        width: 60%;
        div{
          width: 99%;
          margin: 0 auto;
      }
    }    
    .hide{
      display: none;
    }
}

@media screen and (max-width:480px) {
    .values_container{
        width:85%;
      div{
        ul li button{
          display: block;
          margin-top: 6rem;
        }
      }
    }
    .hide{
      display: none;
    }
}