.portfolio {
  margin-bottom: 10rem;
  // position: relative;
  overflow: hidden;
  .portfolio_landing_page {
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    // height: calc(100vh - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-top: 8rem;
    .portfolio_landing_page_wrapper {
      height: 80%;
      width: 95rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding-top: 5rem;
      // border: 1px solid red;
      .heading {
        font-family: "Shoreline";
        font-size: 9.5rem;
      }
      .portfolio_page_para {
        font-size: 2rem;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 3rem;
        line-height: 3.5rem;
      }
    }
  }
  .search_by {
    width: 930px;
    margin: 3rem auto;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .filterBy {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      span {
        font-size: 1.7rem;
        font-weight: 400;
        text-transform: capitalize;
      }
    }
    .buttons {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btns {
        width: 40%;
        height: 100%;
        // background-color: var(--border-golden);
        border-radius: 1rem;
        color: white;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        border: 1px solid white;
        background: transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        // &:hover {
          // background-color: rgba(218, 165, 32, 0.87);
        // }
      }
      .active {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
  &::-webkit-scrollbar {
    appearance: none;
  }
}

@media screen and (max-width: 1000px) {
  .portfolio {
    .search_by {
      width: 90%;
      flex-direction: column;
      height: auto;
      padding: 0 2rem;
      .filterBy {
        width: 100%;
      }
      .buttons {
        width: 100%;
        height: 4rem;
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    .portfolio_landing_page {
      margin-bottom: 8rem;
      .portfolio_landing_page_wrapper {
        width: 90%;
        .heading {
          font-size: 7rem;
          font-weight: 300;
        }
        .portfolio_page_para {
          font-size: 2.2rem;
          // padding: 0 4rem;
          text-align: justify;
        }
      }
    }
  }
}
